.productimg-enter {
  transform: scale(1.15);
  
}

.productimg-enter-active {
  transform: scale(1);
  
  transition: all 3000ms ease-out;
}

.productimg-exit {
    
  transform: scale(1);
}

.productimg-exit-active {
  transform: scale(1.15);
  
  transition: all 3000ms ease-out;
}




